body {
	font-family: Arial, sans-serif;
	padding: 20px;
}

h1 {
	text-align: center;
}

#csvFileInput,
#uploadButton {
	display: block;
	margin: 10px auto;
}

.automatch {
	width: 200px;
	height: 80px;
	margin: 28px;
	/* font-weight: bold; */
	text-align: center;
}

.pauseBtn {
	width: 200px;
	height: 40px;
	margin: 28px;
	/* font-weight: bold; */
	text-align: center;
}